# --- SolidWorks Temporary & Lock Files (Must Ignore) ---
# These are created when a file is open. Never commit these.
~$*
*.sldprt.lock
*.sldasm.lock
*.slddrw.lock

# --- Backup and Recovery Files ---
*.BAK
*.SWB
*.swr
*.sav
*.recover

# --- Temporary System Files ---
Thumbs.db
Desktop.ini

# --- Report & Log Files ---
*.log
*.txt
!README.md

# --- SolidWorks CAM / Simulation Temp Files ---
*.cwr
*.sim

# ignore folders created by 'colcon build'
/build/
/install/
/log/

# --- Python & Colcon Caches ---
__pycache__/
*.pyc
.colcon/